<div class="row">
    <div class="col s9 m6 l6 offset-m3 offset-l3">
        <div class="card-panel  purple darken-4 white-text">
            {% if incoming_task is None %}
            <span id="requested-task-heading">
                    No Incoming task yet.
                    </span>
            <div class="card-panel purple darken-2" id="requested-task-div" style="display:none;">

                {% else %}
                <span id="requested-task-heading">
            Incoming request
                        </span>
                <div class="card-panel purple darken-2" id="requested-task-div" style="display:block;">

                    {% endif %}

                    <span id="requested-task-title" style="font-size:16px;">
                           TITLE:&nbsp;&nbsp; {{ incoming_task.title  }}
                        </span>
                    <br/>
                    <span id="requested-task-detail" style="font-size:12px;">
                           DETAIL:&nbsp;&nbsp; {{ incoming_task.detail  }}
                        </span>
                    <br/>

                    <button class="btn-small waves-light" id="requested-task-button"
                            onclick="acceptTaskClicked({{incoming_task.id}})">
                        Accept
                    </button>
                </div>
            </div>
        </div>
    </div>