  <div class="row">
            <div class="col s9 m6 l6 offset-m3 offset-l3">
                <div class="card-panel  purple darken-4 white-text">
                    {% if incoming_task is None %}
                    No Incoming task yet.
                    {% else %}
                    Incoming request
                    <div class="card-panel purple darken-2">
                        <span id="requested-task-title" style="font-size:16px;">
                            {{ incoming_task.title  }}
                        </span>
                        <br/>
                        <span id="requested-task-detail" style="font-size:12px;">
                            {{ incoming_task.detail  }}
                        </span>

                        <button class="btn-small waves-light" id="requested-task-button" onclick="acceptTaskClicked({{incoming_task.id}})">
                            Accept
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>