<!--- experimental view-->

<div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
{% csrf_token %}
        <div class="card-panel">

            <table class="highlight">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Complete</th>
                    <th>Decline</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}

                <tr>
                    <td>
                        {{task.title}}
                    </td>
                    <td>
                        {% if task.get_current_task_state_type == 'ACCEPTED' %}
                        <button class="btn-small waves-light" onclick="completeTaskClicked({{task.id}})" >Complete</button>
                        {% else %}
                            {% if task.get_current_task_state_type == 'COMPLETED' %}
                            Task Completed
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if task.get_current_task_state_type == 'ACCEPTED' %}
                        <button class="btn-small waves-light" onclick="declineTaskClicked({{task.id}})">Decline</button>
                        {% else %}
                            {% if task.get_current_task_state_type == 'DECLINED' %}
                            Task Declined
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>