<!--- experimental view-->

<div class="row">
    <div class="col s12 m8 l8 offset-m2 offset-l2">

        <div class="card-panel">

            <table class="highlight">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Complete</th>
                    <th>Decline</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}

                <tr>
                    <td>
                        {{task.title}}
                    </td>
                    <td>
                        {{task.get_priority_type}}
                    </td>
                    <td>
                        {% if task.get_current_task_state_type == 'COMPLETED' %}
                        <button class="btn-small disabled"> Complete</button>
                        {% else %}
                        <button class="btn-small waves-light">Complete</button>
                        {% endif %}
                    </td>
                    <td>
                        {% if task.get_current_task_state_type == 'DECLINED' %}
                        <button class="btn-small disabled"> Decline</button>
                        {% else %}
                        <button class="btn-small waves-light">Decline</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>