{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="col s12 m8 l8 offset-m2 offset-l2">

                    <div class="task-detail-header">
                <span>Order title: {{task.title}}</span>
                <span>Created by: {{creator_username}}</span>
                <span>Created at: {{task.created_at}}</span>
            </div>
        <div class="card-panel">



            <div class="row">
                {% for task_state in transaction %}
                <div class="col s12 card-panel lime lighten-3">
                    <span>Order State: {{task_state.get_action_taken_value}}</span>
                    <span>Time: {{task_state.updated_at }}</span>
                    <span>Updated by: {{task_state.updated_by}}</span>
                </div>

                {% if not forloop.last %}
                <div class="col s1 offset-s5">
                    <img src="/static/img/arrow_up.png" style="width:24px;height:30px;">
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}